extends /layout

block content
  .row
    .col-xs-12
      .page-header
        h1 Your Account
    .col-xs-12
      form(method='POST')
        .row
          .form-group.col-xs-12.col-sm-6
            label(for='firstName') First Name
            input.form-control(type='text', name='firstName', placeholder=user.name.first)
          .form-group.col-xs-12.col-sm-6
            label(for='lastName') Last Name
            input.form-control(type='text', name='lastName', placeholder=user.name.last)
          .form-group.col-xs-12.col-sm-6
            label(for='nickname') Nickname
            input.form-control(type='text', name='nickname', placeholder=user.name.nickname)
        .row
          .form-group.col-xs-12
            hr
            label(for='bio') Bio
            textarea.form-control(placeholder=(user.bio ? user.bio : "You haven't set a bio yet!" ))= (user.bio ? user.bio : '')
        .row
          .col-xs-12
            hr
            a.btn.btn-default(href='#') View Public Profile
            button.btn.btn-primary(type='submit') Save Account Info
      .row
        .col-xs-12
          .page-header
            h1 Your Courses
          p.text-muted Click on a course to remove it.
        .col-xs-12
          form.form-inline.add-course-form(action='/account/addcourse', method='POST')
            .form-group.full-width
              input.form-control(type='text', name='course-name', placeholder='Course Full Title', required)
              input.form-control(type='text', name='course-short-name', placeholder='Course Nickname')
              button.btn.btn-primary(type='submit') Add Course
        .col-xs-12
          .list-group.course-list
            if user.courses
              each c in user.courses
                button.list-group-item.course-button(data-course-name=c.title)= c.title
                  span.hidden-xs.text-muted.right= c.shortTitle
            else
              h3.text-muted You have not yet added any courses!