extends /layout

mixin school(school)
  .col-xs-12.col-md-6.col-lg-3
    .panel.panel-default.school-panel(data-school-id=school.id)
      .panel-body
        h3 #{school.name} #{school.type}
        if school.address
          p.text-muted= school.address

        if school.website
          a(href=school.website, target='new')= school.website

mixin status(status)
  li.list-group-item(class=( status.completed ? 'list-group-item-success' : ''))= status.description
          

block content
  .row
    .col-xs-12
      .page-header
        h1 Account Setup
  .row
    .col-xs-12.col-md-6.col-lg-3
      .panel.panel-primary
        .panel-heading Checklist
        for s in statuses
          +status(s)
    
    if !user.setupStatus.acceptedTOS
      .col-xs-12.col-md-6
        .panel.panel-warning
          .panel-heading Accept Terms of Service
          .panel-body
            form(method='POST', action='/account/setup/acceptTOS')
              include /includes/tos
    
    if !user.setupStatus.uploadedSchedule
      .col-xs-12.col-md-6
        .panel.panel-info
          .panel-heading Upload Schedule
          .panel-body
            form(method='POST', action='/account/setup/uploadSchedule', enctype='multipart/form-data', accept='.txt,.csv,.tsv')
              input(type='file', name='schedule-file')
              button.btn.btn-info Choose Schedule File

    if !user.setupStatus.choseSchool
      .col-xs-12.col-md-6
        .panel.panel-warning
          .panel-heading Choose School
          .panel-body
            p.
              Each school has their own special features on the website. If you choose not to set your school, you will be able to use the basic features
              of the website but will be missing out on a lot.
            b Schools are added when needed so if you don't see your school listed, email me! I will research the school and setup features for it. 
            hr
            form(method='POST', action='/account/setup/chooseSchool')
              .form-group
                label(for='school-select') Your School
                select.form-control(name='school-select', id='school-select')
                  for s in schools
                    option(value='none') None
                    option(value=s.id) #{s.name} #{s.type}
              hr

              button.btn.btn-warning(type='submit') Set