mixin link(url, name)
    li(class=helpers.activeLink(url, pagePath))
        a(href=helpers.decideHref(url, pagePath), title=helpers.getTitle(url))= name


// Left links
ul.nav.navbar-nav
    +link('/', 'Home')
    
    if loggedIn
        if user.school
            li.dropdown
                a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                    | #{user.school.name} 
                    span.caret
                ul.dropdown-menu
                    +link('/schools/'+user.school.name, 'Schoolmates')
        if user.accountStatus == 0
            +link('/account/setup', 'SETUP ACCOUNT')
    else
        +link('/about', 'About')
    
    li
        a(href='https://github.com/Apexal/ontrac', target='new') Source Code
        
// Right links
if loggedIn
    ul.nav.navbar-nav.navbar-right
        li.profile-pic.hidden-xs.hidden-sm
            a(href='/account', title='Looking good!')
                img(src=user.profileImgUrl)
        li.dropdown
            a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                | #{user.name.nickname} 
                span.caret
            ul.dropdown-menu
                if user.name.nickname !== user.name.first + ' ' + user.name.last
                    li
                        a(href='#')= user.name.first + ' ' + user.name.last
                if user.accountStatus == 0
                    li
                        a(href='/account/setup')
                            b Setup Account
                else
                    li
                        a(href='/account') Edit Account
                li.divider(role='separator')
                +link('/logout', 'Logout')
else
    ul.nav.navbar-nav.navbar-right
        +link('/auth/google', 'Login with Google')
