extends /layout

block content
    .row
        .col-xs-12
            .page-header.center-sm.date-header(style='margin-bottom: 0')
                h1#date(data-toggle='tooltip', title=moment(date).startOf('day').from(moment().startOf('day')), style='margin-bottom: 0', data-date=date.format('YYYY-MM-DD'))= date.format('dddd, MMMM Do, YYYY')
                    small.right.text-muted.assignment-count 0 total
            .progress.assignment-progress-container(style="margin-top: 0;", data-toggle='tooltip', title='You are 0% done with your homework!')
                .progress-bar.assignment-progress-bar(role="progressbar", style="width: 0%;")
    .row
        .col-xs-12
            .black-bar.clearfix
                .btn-group.right
                    button.btn.btn-default.active#list-view(data-toggle='tooltip', title='List View')
                        i.fa.fa-list
                    button.btn.btn-default#planner-view(data-toggle='tooltip', title='Planner View')
                        i.fa.fa-calendar
                .btn-group.left
                    a.btn.btn-default#goto-previous-day(data-toggle='tooltip', title=previousDay.format('dddd, MMM Do'), href='/assignments/' + previousDay.format('YYYY-MM-DD'))
                        i.fa.fa-arrow-left
                    a.btn.btn-default#goto-next-day(data-toggle='tooltip', title=nextDay.format('dddd, MMM Do'), href='/assignments/' + nextDay.format('YYYY-MM-DD'))
                        i.fa.fa-arrow-right
                    if !isClosest
                        a.btn.btn-default#goto-closest(data-toggle='tooltip', href='/assignments/closest', title='See the work due next.')
                            b Due
                    input.goto-date.form-control(data-toggle='tooltip', type='text', title='Go to a specific date.', value=date.format('YYYY-MM-DD'))
                .statistics.hidden-xs
                    span 0% completed
    .row
        .col-xs-12
            .form-inline.add-assignment-form.full-width
                .form-group.full-width
                    input.form-control.full-width-sm#new-assignment-description(style='width: 60%', type='text', name='description', placeholder='New Assignment', required)
                    select.form-control.full-width-sm#new-assignment-course-name(style='width: 30%', name='course-name')
                        each c in user.courses
                            option(value=c.title)= c.shortTitle
                        option(value='Other') Other    
                    button.btn.btn-primary.full-width-sm.add-assignment(style='width: 10%', type='button') Add
    .row
        br.hidden-xs
        h3.text-center.text-muted.assignments-status Loading assignments...
        .assignments-container
    .row
        .col-xs-12
            hr
            a.btn.btn-danger.right.export-assignments(onClick='alert("Right click and choose \'Save Link As\' (or mobile equvalient) to download this day\'s assignments!"); return false;', data-toggle='tooltip', href='/api/assignments/' + date.format('YYYY-MM-DD'), title='Right click and choose \'Save Link As\'!') Export
            button.btn.btn-default.refresh-assignments(data-toggle='tooltip', title='Resyncs the assignment list.') Reload &nbsp;
                i.fa.fa-refresh