extends /layout

block content
    .row
        .col-xs-12
            .page-header.center-sm.date-header(style='margin-bottom: 0')
                h1#date(data-toggle='tooltip', title=moment(date).startOf('day').from(moment().startOf('day')), style='margin-bottom: 0', data-date=date.format('YYYY-MM-DD'))
                    b.work-view-status Assignments Due 
                    span= date.format('dddd, MMMM Do, YYYY')
            .progress.assignment-progress-container(style="margin-top: 0;")
                .progress-bar.assignment-progress-bar(role="progressbar", style="width: 0%;")
    .row
        .col-xs-12
            .black-bar.clearfix
                .btn-group.right.work-view-buttons
                    button.btn.btn-default.visible-xs#edit-assignments(data-toggle='tooltip', title='Toggle editing assignments.')
                        i.fa.fa-pencil
                    a.btn.btn-default.active#assignments-view(data-view='assignments', href='#assignments', data-toggle='tooltip', title='Show assignments.')
                        i.fa.fa-list
                        span.badge 0
                    a.btn.btn-default#graded-items-view(data-view='gradedItems', href='#gradedItems', data-toggle='tooltip', title='Show tests/quizzes/projects.')
                        i.fa.fa-calendar
                        span.badge 0
                .btn-group.left
                    a.btn.btn-default#goto-previous-day(data-toggle='tooltip', title=previousDay.format('dddd, MMM Do'), href='/work/' + previousDay.format('YYYY-MM-DD'))
                        i.fa.fa-arrow-left
                    a.btn.btn-default#goto-next-day(data-toggle='tooltip', title=nextDay.format('dddd, MMM Do'), href='/work/' + nextDay.format('YYYY-MM-DD'))
                        i.fa.fa-arrow-right
                    if !isClosest
                        a.btn.btn-default#goto-closest(data-toggle='tooltip', href='/work/closest', title='See the work due next.')
                            b Due
                    input.goto-date.form-control(data-toggle='tooltip', type='text', title='Go to a specific date.', value=date.format('YYYY-MM-DD'))
                .statistics.hidden-xs
                    span 0% completed
    
    include assignments
    include gradedItems

    if dateSchedule
        .row
            .col-xs-12
                br
                table.table.table-condensed#dateSchedule
                    caption.text-center
                        b This Day's Schedule
                    tbody
                        tr.hidden-xs
                            each period in dateSchedule
                                td(data-toggle='tooltip', data-long-title=period.title, class=(period.shortTitle == 'Free' ? 'active' : ''), data-length=period.duration, title=moment(period.startTime, 'hh:mm A').format('h:mm A') + ' to ' + moment(period.endTime, 'hh:mm A').format('h:mm A'))= period.shortTitle
                        each period in dateSchedule
                            tr.visible-xs(class=(period.shortTitle == 'Free' ? 'active' : ''))
                                td(data-toggle='tooltip', data-long-title=period.title, data-length=period.duration, title=moment(period.startTime, 'hh:mm A').format('h:mm A') + ' to ' + moment(period.endTime, 'hh:mm A').format('h:mm A'))= period.shortTitle
    .row
        .col-xs-12
            hr(style='margin-top: 0px;')
            a.btn.btn-danger.right.export-assignments(onClick='alert("Right click and choose \'Save Link As\' (or mobile equvalient) to download this day\'s assignments/graded items!"); return false;', data-toggle='tooltip', href='/api/assignments/' + date.format('YYYY-MM-DD'), title='Right click and choose \'Save Link As\'!') Export
            button.btn.btn-default.refresh-items(data-toggle='tooltip', title='Updates the list.') Reload &nbsp;
                i.fa.fa-refresh